* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.navigation__list {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300; }

.heading__1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 4.2rem;
  color: #060A24; }

.heading__span {
  text-decoration: line-through; }

.paragraph {
  font-size: 1.4rem;
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  letter-spacing: 0;
  line-height: 2.2rem; }

.btn, .btn:link, .btn:visited {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  line-height: 2.2rem;
  color: #060A24; }

.episodes__heading {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 4.2rem;
  color: #fff; }

.btn, .btn:link, .btn:visited {
  display: block;
  margin: 2.4rem 0;
  padding: 1.3rem 9.6rem;
  width: 28.8rem;
  border-radius: .1rem;
  cursor: pointer;
  background-image: linear-gradient(90deg, #00F3BB 0%, #00F3BB 49%, #0000EC 100%);
  background-size: 58rem;
  transition: all .3s; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 236, 0.2); }

.btn:hover {
  color: #fff;
  background-position: 29rem;
  transition: all .3s;
  transform: translateY(-1px); }

.episodes {
  display: block;
  padding: 1.6rem;
  background-image: linear-gradient(180deg, #0000FF 0%, #0000A3 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%); }
  .episodes__heading {
    padding: 3.2rem 0 2.1rem 0; }

.header {
  margin: 1.6rem; }

.heading__1 {
  width: 80%; }

.paragraph {
  margin: 1.6rem 0 1.6rem 0;
  display: inline-block; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .navigation__checkbox {
    display: none; }
  .navigation__logo {
    padding: 1rem 1.6rem; }
  .navigation__button {
    position: fixed;
    right: 1.6rem;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    text-align: center;
    z-index: 100; }
  .navigation__background {
    position: fixed;
    top: 4.4rem;
    height: 0;
    width: 100%;
    background-color: #0000EC;
    padding: 0;
    transition: all .3s; }
  .navigation__nav {
    visibility: hidden;
    opacity: 0;
    transition: all .3s; }
  .navigation__list {
    position: absolute;
    top: 4.4rem;
    left: 0;
    list-style: none;
    font-size: 1.6rem; }
  .navigation__item {
    line-height: 2.8rem;
    padding: .8rem 0 1.2rem 1.6rem; }
    .navigation__item:first-child {
      padding: 1.6rem 0 1.2rem 1.6rem; }
  .navigation__link {
    text-decoration: none;
    color: #fff;
    transition: all .3s; }
    .navigation__link:link, .navigation__link:visited {
      display: inline-block;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 230%; }
    .navigation__link:hover, .navigation__link:active {
      transform: translateX(1rem);
      background-position: 100%;
      color: black;
      font-weight: 700; }
  .navigation__icon {
    position: relative;
    top: 50%; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 1.8rem;
      height: 2px;
      background: #060A24;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .3s; }
    .navigation__icon::before {
      top: -.5rem; }
    .navigation__icon::after {
      top: .5rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -.7rem; }
  .navigation__button:hover .navigation__icon::after {
    top: .7rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__checkbox:checked ~ .navigation__background {
    width: 100%;
    height: 22.4rem; }
  .navigation__checkbox:checked ~ .navigation__nav {
    visibility: visible;
    opacity: 1; }
