.header{
    margin: 1.6rem;

    @media only screen and (min-width: $bp-small){
       display: flex;
    flex-direction: column;
    }
}

.heading__1{
    width: 80%;
}

.paragraph{
    margin: 1.6rem 0 1.6rem 0;
    display: inline-block;
}

