.invitados-especiales{
  
    &__heading{
        margin: 2.7rem 1.6rem 1.6rem 1.6rem;
    }

    &__imagenes{
        
       &--photo{
           width: 100%;
          display: block;
       }

    }
}