.navigation__list{
    font-family: $font-mono;
    font-weight: 300;
}

.heading{
    &__1{
        @include heading-styles;
        color: $color-heading;
    }

    &__span{
        text-decoration: line-through;
    }
}

.paragraph{
    font-size: 1.4rem;
    font-family: $font-mono;
    color: $color-heading;
    letter-spacing: 0;
    line-height: 2.2rem;
}

.btn{
    &,
    &:link, 
    &:visited{
        font-family: $font-mono;
        font-weight: 500;
        font-size: 1.6rem;
        text-decoration: none;
        line-height: 2.2rem;
        color: $color-heading;
    }
}

.episodes{
    &__heading{
        @include heading-styles;
        color: $color-white;
    }
}

.donde-venimos{
    &__text{
        &--heading{
            @include heading-styles;
        }
    }
}

.invitados-especiales{
    &__heading{
        @include heading-styles;
       
    }
}

.nuestros-temas{

    &__heading{
        @include heading-styles;
    }

    &__figure{

        &--heading2{
            font-family: $font-mono;
            font-size: 2.4rem;
            color: $color-heading;
            font-weight: 600;   
        }
    }
}

.ultimas-novedades{
    &__container{
        &--heading{
            @include heading-styles;
            text-align: center;
            color: $color-white;
        }
    }
}